.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #e27c95;
    padding: 15px 30px;
    color: white;
    font-weight: bold;
  }
  
  .nav-links a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
  }
  